<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portfolio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Portfolio view page</h3>

      <!--<div>
          <ul>
            <li *ngFor="let stock of stocks | async">
              {{stock.$STOCKNAME.value}} 
              {{stock.$MARKETVAL.value}}
            </li>
          </ul>
      </div>
<input type="text" (keyup.enter)="addStock($event.target.value)">

  <table class="table  card card-strong">
      <tbody>
      <tr *ngFor="let lesson of filtered">
          <td class=""> {{lesson.STOCKNAME}} </td>
          <td class="duration">
              <i class="md-icon duration-icon">access_time</i>
              <span>{{lesson.NETPOSITION}}</span>
          </td>
      </tr>
      </tbody>
  </table>-->
</ion-content>